.summary {
  padding: var(--padding-section-xs);
}

.summary-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-medium);
  padding: 3rem 1.5rem;
  font-size: var(--font-size-xs);
  border-radius: var(--border-radius-medium);
  background-color: #e5dbff;
}

.summary-text {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
}

.summary-paragraph {
  line-height: 1.6;
  font-size: var(--font-size-medium);
}

.summary-image {
  width: 100%;
  border-radius: var(--border-radius-medium);
}

@media (min-width: 36em) {
  .summary-wrapper {
    display: grid;
    grid-template-columns: 40fr 50fr;
    gap: 3rem;
    padding: 5rem 3rem;
  }

  .summary-paragraph {
    line-height: 1.6;
    font-size: var(--font-size-large);
  }
}

@media (min-width: 62em) {
  .summary-wrapper {
    gap: var(--medium-xl-gap);
  }
}
