.articles {
  padding: var(--small-padding-section);
  font-size: var(--small-font-size);
}

.articles-subtitle {
  margin-bottom: 4rem;
}

.articles-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--medium-xl-gap);
}

.articles-post {
  background-color: var(--light-background-white);
  padding: 3rem 1em;
  border-radius: var(--small-border-radius);
}
.articles-content {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
}

.articles-text {
  display: flex;
  flex-direction: column;
  gap: var(--small-xl-gap);
}

.articles-heading {
  font-size: var(--big-font-size);
}

.articles-paragraph {
  line-height: var(--small-line-height);
}

.articles-meta {
  display: flex;
  flex-direction: column;
  line-height: var(--small-line-height);
  gap: 0.5rem;
}

.articles-author {
  display: flex;
  gap: 1rem;
}

.articles-date {
  display: flex;
  gap: 1rem;
}

.articles-icon {
  color: var(--medium-purple-color);
}

.articles-image {
  width: 100%;
  border-radius: var(--small-border-radius);
}
