.footer {
  padding: 8.8rem 0 4rem 0;
  background-color: #212529;
  color: var(--light-color-white);
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.footer-first-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--medium-gap);
}

.footer-heading {
  font-size: 2.5rem;
}

.footer-paragraph {
  font-size: var(--small-font-size);
  line-height: var(--small-line-height);
}

.ready-icons {
  display: flex;
  gap: var(--small-gap);
}

.ready-icon-link {
  text-decoration: none;
  color: var(--light-color-white);
  padding: 1rem;
  border-radius: 4rem;
  background-color: #343a40;
}

.ready-icon {
  font-size: 2rem;
}

.footer-second-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--medium-gap);
  align-self: self-start;
}

.footer-navigation-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--medium-gap);
  list-style: none;
}

.footer-navigation-link {
  font-size: var(--small-font-size);
  text-decoration: none;
  color: var(--light-color-white);
}

.footer-third-row {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footer-email {
  font-size: 2rem;
  text-decoration: none;
  color: var(--light-color-white);
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--small-gap);
  padding: 1rem;
  font-size: 1.4rem;
}

.footer-made {
  font-size: 1.3rem;
}

.footer-bottom-icon {
  color: var(--medium-purple-color);
}
