:root {
  --color-text: #0d0a0b;
}

.header {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo p {
  font-size: 2rem;
}

.header-navigation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(238, 236, 236, 0.97);
  backdrop-filter: blur(10px);
  z-index: 100;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  overflow-x: hidden;
  transition: all 0.5s;
}

.header-navigation-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0%);
}

.header-navigation-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  list-style-type: none;
}

.header-navigation-link {
  text-decoration: none;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 1.6;
  color: var(--color-text);
}

.header-navigation-button {
  display: block;
  position: relative;
  width: 4.6rem;
  height: 4.6rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 200;
}

.header-navigation-close-button {
  display: none;
}

.header-navigation-wrapper.header-navigation-open
  ~ .header-navigation-hamburger {
  display: none;
}

.header-navigation-wrapper.header-navigation-open
  ~ .header-navigation-close-button {
  display: block;
}
