:root {
  --color-text: #0d0a0b;
}

.hero {
  font-size: 1.8rem;
  color: var(--color-text);
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--medium-xl-gap);
  padding: 8.8rem 0;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--medium-xl-gap);
}

.hero-tag {
  padding: 1rem 2rem;
  border-radius: var(--small-border-radius);
  color: var(--dark-purple-color);
  background-color: #e5dbff;
}

.hero-heading {
  font-size: 4.8rem;
  line-height: 1.3;
}

.hero-heading-special {
  color: #845ef7;
}

.hero-paragraph {
  font-size: 2rem;
  line-height: var(--medium-line-height);
}

.hero-image {
  width: 100%;
  border-radius: var(--small-border-radius);
}

.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 1rem;
}

.hero-button {
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  border-radius: 0.5rem;
}

.hero-button-full {
  color: var(--light-color-white);
  background-color: var(--medium-purple-color);
}

.hero-button-outline {
  color: #845ef7;
  border: 1px solid var(--medium-purple-color);
}

@media (min-width: 23em) {
  .hero-buttons {
    font-size: 1.8rem;
    gap: 3rem;
  }

  .hero-button {
    padding: 1.5rem 2rem;
  }
}

@media (min-width: 48em) {
  .hero-wrapper {
    display: grid;
    grid-template-columns: 45fr 55fr;
    padding: 12.8rem 0;
  }

  .hero-buttons {
    gap: 1.5rem;
  }
}
