:root {
  --color-text: #0d0a0b;
}

.hero {
  font-size: 1.8rem;
  color: var(--color-text);
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 8.8rem 0;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.hero-heading {
  font-size: 4.8rem;
  line-height: 1.3;
}

.hero-heading-special {
  color: #845ef7;
}

.hero-paragraph {
  font-size: 2rem;
  line-height: 1.8;
}

.hero-image {
  width: 100%;
  border-radius: 2rem;
}

.hero-button {
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  border-radius: 0.5rem;
}

.hero-button-full {
  color: #fff;
  background-color: #845ef7;
}

.hero-button-outline {
  color: #845ef7;
  border: 1px solid #845ef7;
}
