:root {
  --color-text: #0d0a0b;
}

.hero {
  padding: 8.8rem 0;
  font-size: 1.8rem;
  color: var(--color-text);
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.hero-heading {
  line-height: 1.3;
}

.hero-paragraph {
  line-height: 1.6;
}

.hero-image {
  width: 100%;
  border-radius: 2rem;
}
