.ready {
  padding: var(--small-padding-section);
}

.ready-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--big-gap);
  padding: 8rem 2rem;
  border-radius: var(--small-border-radius);
  background-color: var(--medium-purple-color);
}

.ready-text {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  color: var(--light-color-white);
}

.ready-heading {
  font-size: 4rem;
}

.ready-paragraph {
  font-size: 2rem;
  line-height: 1.6;
}

.ready-button {
  padding: 1.5rem 3rem;
  border-radius: 0.8rem;
  font-size: 2rem;
  text-decoration: none;
  color: var(--medium--purple-color);
  background-color: var(--light-background-white);
}
