.technologies {
  padding: var(--small-padding-section);
}

.technologies-heading {
  margin-bottom: 8rem;
}

.technologies-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--big-gap);
  list-style: none;
}

.technologies-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--medium-gap);
  text-align: center;
}

.technologies-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--small-gap);
}

.technologies-heading-text {
  text-align: center;
}

.technologies-image {
  width: 40%;
}

@media (min-width: 48em) {
  .technologies-heading {
    margin-bottom: 12rem;
    font-size: 3rem;
  }

  .technologies-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .technologies-image {
    width: 60%;
  }

  .technologies-paragraph {
    line-height: var(--small-line-height);
  }
}
