.why-vanilla {
  padding: var(--small-padding-section);
  background-color: var(--light-background-white);
}

.why-vanilla-heading {
  margin-bottom: 8rem;
}

.why-vanilla-list {
  display: flex;
  flex-direction: column;
  gap: var(--big-gap);
}

.why-vanilla-item {
  display: flex;
  flex-direction: column;
  gap: var(--small-xl-gap);
  list-style: none;
}

.why-vanilla-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.why-vanilla-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--small-gap);
}

.why-vanilla-icon {
  padding: 3rem;
  font-size: 3rem;
  border-radius: var(--small-border-radius);
  background-color: var(--light-purple-color);
  color: var(--medium-purple-color);
}

@media (min-width: 48em) {
  .why-vanilla {
    padding: var(--medium-padding-section);
  }

  .why-vanilla-heading {
    margin-bottom: 12rem;
    font-size: 3rem;
  }

  .why-vanilla-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .why-vanilla-item {
    line-height: var(--small-line-height);
  }
}
