.why-vanilla {
  padding: 8.8rem 0;
  background-color: #f8f9fa;
}

.why-vanilla-heading {
  margin-bottom: 6rem;
}

.why-vanilla-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.why-vanilla-item {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  list-style: none;
}

.why-vanilla-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.why-vanilla-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.why-vanilla-icon {
  padding: 3rem;
  font-size: 3rem;
  border-radius: 2rem;
  background-color: #f3f0ff;
  color: #845ef7;
}
